#Binaries and cmake files and idea files
cpp/big_integer/.idea/
cpp/big_integer/build/
cpp/big_integer/main.cpp

cpp/bind/.idea/
cpp/bind/build/
cpp/bind/CMakeLists.txt
cpp/bind/out

cpp/lru_cache/.idea/
cpp/lru_cache/build/
cpp/lru_cache/CMakeLists.txt

cpp/either/.idea/
cpp/either/build/
cpp/either/CMakeLists.txt
cpp/either/out
cpp/either/a.out

*.s 
*.out
